/**{
	border: 1px solid red;
}*/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	margin:0;
	color: #EDF5E1;
	background-color: #05386B;
	font-size: 100%;
}

h2 {
	text-align: center;
	font-size: 2.5em;
}

h3 {
	text-align: center;
	font-size: 1.5em;
}

p {
	text-align: center;
}

a {
	color: #EDF5E1;
	text-align: center;
}

.icons {
	text-align: center;
}

.pics {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	max-width: 100%;
}


/* nav bar design from https://www.w3schools.com/css/css_navbar.asp --> */
ul {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #379683;
}

li {
    display: inline-block;
    float:left;
    border-left:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
	background-color: #5CDB95;
}

a:hover {
	background-color: #5CDB95;
}

form{
	text-align: center;
}

@media screen and (max-width: 768px){
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
}

#circle1 {
	z-index: -1;
}

#circle2 {
	z-index: -1;
}

#circle3 {
	z-index: -1;
}

#circle4 {
	z-index: -1;
}


.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 47px;
}
.col-1 {
	width: 8.33%
}
.col-2 {
	width: 16.66%
}
.col-3 {
	width: 25%
}
.col-4 {
	width: 33.33%
}
.col-5 {
	width: 41.66%
}
.col-6 {
	width: 48%;
	margin: 1%;
}
.col-7 {
	width: 58.33%
}
.col-8 {
	width: 66.66%
}
.col-9 {
	width: 75%
}
.col-10 {
	width: 83.33%
}
.col-11 {
	width: 91.66%
}
.col-12 {
	width: 100%
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

	.row {
		padding-top: 282px;
	}

}

